{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Api Pago de servicios</title>
    <link rel="stylesheet" href="{% static 'landing.css' %}">
</head>

<body>
    <section class="hero">

        <div class="hero-content">

            <h1 class="hero-title">
                Hola, descubriste una API 
            </h1>

            <h2 class="hero-subtitle">
                Esta API implementa las funcionalidades para Pago de servicios como NETFIX, SPOTIFY, etc.
            </h2>
            <a href="/swagger" class="button">
                Revisa la documentación
            </a>
        </div>

    </section>
</body>

</html>